#logo {
    width: 11rem !important;
    display: flex !important;
    margin-top: 10rem;
}

#app-container {
    margin-bottom: 5vh !important;
}

.view-wrapper {
    min-height: 0% !important;
}

.view-wrapper.is-webapp {
    padding-top: 0 !important;
}

footer {
    background-color: transparent !important;
    margin-top: 8rem !important;
}

body.is-dark .form-switch.is-primary input:checked+i {
    background-color: #8941FF !important;
}

body.is-dark .webapp-navbar.is-colored .webapp-navbar-inner .center .centered-links .centered-link.is-active:hover {
    background: #671cc9 !important;
}

body.is-dark .webapp-navbar.is-colored .webapp-navbar-inner .center .centered-links .centered-link:hover{
    background: #4b1593 !important;
}

body.is-dark .webapp-navbar.is-colored {
    background: #671cc9 !important;
}

.webapp-navbar.is-colored .webapp-navbar-inner .center .centered-links .centered-link.is-active {
    background: #4b1593 !important;
    border-color: #7523e0 !important;
}

.webapp-navbar.is-colored {
    border-bottom-color: transparent !important;
}

*::-webkit-scrollbar {
    background-color: var(--scrollbar-thumb-color) !important;
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #4b1593 !important;
    border: 1px solid #818192;
}