input{
    border-radius: 0.5rem !important;
    background: #EFF0EB !important;
}   

input::placeholder {
    color: #C7C8C4 !important;
    font-family: Ubuntu !important;
    font-size: 1rem !important;
    /* font-style: normal !important; */
    font-weight: 600 !important;
    /* line-height: normal !important; */
}

h1{
    color: #8941FF !important;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2{    
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.isConnected{
    color:#26FF2F
}
.isOffline{
    color:#ff2626
}

.button.is-info.is-light {
    font-family: Ubuntu !important;
    font-weight: 600 !important;
    border-radius: 0.5rem;
    background-color: #E6D7FF;
    color: #8941FF;
}

.button.is-info.is-light:hover {
    background-color: #8941ff;
    color: #E6D7FF;
}

.box{
    border-radius: 22px;
    background-color: #FAF8F8;
}

.footer{
    padding-top: calc(100vh - (100vh - 4rem));
}

#logo{
    width: 7rem;
    flex-shrink: 0;
    fill: #D2CFCF;
}
