<div class="error-container">
    <div class="error-wrapper">
        <div class="error-inner has-text-centered">
            <div class="bg-number dark-inverted">500</div>
            <img class="light-image" src="../../../../src/templates/assets/img/illustrations/placeholders/error-5.svg" alt="" />
            <img class="dark-image" src="../../../../src/templates/assets/img/illustrations/placeholders/error-5-dark.svg" alt="" />
            <h3 class="dark-inverted">Página em manutenção</h3>
            <p>Em breve uma nova página vai ser implementada para melhor experiência do usuário</p>
            <div class="button-wrap">
                <a id="goBack" class="button h-button is-primary is-elevated">Me leve de volta</a>
            </div>
        </div>
    </div>
</div>