#logo {
    width: 11rem !important;
    display: flex !important;
    margin-top: 10rem;
}

body.is-dark .button.is-primary {
    border-color: transparent !important;
    background: #8941FF !important;
    color: #E6D7FF !important;
    overflow-y: hidden !important;
}

.button.is-primary {
    background-color: #8941FF !important;
    border-color: transparent !important;
    color: #f9f9f9 !important;
}

.control .login{
    display: flex !important;
}

.button .icon:last-child:not(:first-child) {
    margin-bottom: 3px !important;
}

.form-switch.is-primary input:checked+i {
    background-color: #8941FF !important;
}

body.is-dark .form-switch.is-primary input:checked+i {
    background-color: #8941FF !important;
}

#huro-app{
    display: none;
}

.form-card {
    margin-top: 10rem;
}

.auth-wrapper-inner .single-form-wrap {
    min-height: 100vh !important;
}

body.is-dark .webapp-navbar.is-colored .webapp-navbar-inner .center .centered-links .centered-link.is-active:hover {
    background: #671cc9 !important;
}

body.is-dark .webapp-navbar.is-colored .webapp-navbar-inner .center .centered-links .centered-link:hover{
    background: #4b1593 !important;
}

body.is-dark .webapp-navbar.is-colored {
    background: #671cc9 !important;
}

.webapp-navbar.is-colored .webapp-navbar-inner .center .centered-links .centered-link.is-active {
    background: #4b1593 !important;
    border-color: #7523e0 !important;
}

.webapp-navbar.is-colored {
    border-bottom-color: var(--scrollbar-thumb-color) !important;
}

#errorDiv {
    margin-top: 2rem;
}

.message-body {
    padding: 0.5em 0.5em !important;
}

*::-webkit-scrollbar {
    background-color: var(--scrollbar-thumb-color) !important;
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #4b1593 !important;
    border: 1px solid #818192;
}