<div class="page-content-inner">
    <!--Onboarding-->
    <div class="standard-onboarding">
        <div class="title-wrap">
            <h2>Você contratou o Módulo Notificador</h2>
        </div>

        <div class="onboarding-wrap">
            <div class="onboarding-wrap-inner">
                <!--Card-->
                <div class="onboarding-card">
                    <img id="qrcode-image">
                    <h3>Conexão</h3>
                    <p>Agora você precisar gerar o QR CODE e lê-lo para conectar o Whatsapp do seu negócio</p>
                    <div id="button-session" class="button-wrap">
                        <a id="button-session-link" class="button h-button is-primary is-elevated">GERAR QRCODE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>